<div class="w-full h-full relative bg-cover bg-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
     url('https://www.sportshub.com.sg/sites/default/files/2022-08/Badminton%20header%201784%20x%20675px__0.png');">
     <div class="absolute bottom-20 left-6 max-w-4xl p-6 animate-slide-in flex flex-col items-start">
          <h2 class="text-7xl font-extrabold text-blue-600 typing-animation">BADMINTON CHILL</h2>

          <div class="mt-4 text-white text-xl space-y-2">
               <p><strong>📞 Số điện thoại: </strong> {{phoneInfo}}</p>
               <p><strong>📍 Địa chỉ: </strong> {{addressInfo}}</p>
          </div>

          <div class="flex space-x-4 mt-6">
               <button
                    class="h-16 w-40 bg-blue-700 text-xl text-white rounded-lg shadow-md hover:bg-blue-800 transition cursor-pointer">
                    Book Now
               </button>
               <button
                    class="h-16 w-40 text-xl bg-gray-300 rounded-lg shadow-md hover:bg-gray-400 transition cursor-pointer">
                    Learn More
               </button>
          </div>

          <div class="mt-6 flex space-x-4">
               <a href="https://facebook.com/badmintonchill"
                    class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-blue-600 text-blue-600 hover:bg-blue-600 hover:text-white transition">
                    <i class="fab fa-facebook text-2xl"></i>
               </a>
               <a href="https://instagram.com/badmintonchill"
                    class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-pink-600 text-pink-600 hover:bg-pink-600 hover:text-white transition">
                    <i class="fab fa-instagram text-2xl"></i>
               </a>
               <a href="mailto:contact@badmintonchill.com"
                    class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-red-600 text-red-600 hover:bg-red-600 hover:text-white transition">
                    <i class="fas fa-envelope text-2xl"></i>
               </a>
               <a href="https://youtube.com/badmintonchill"
                    class="w-12 h-12 flex items-center justify-center rounded-full border-2 border-red-500 text-red-500 hover:bg-red-500 hover:text-white transition">
                    <i class="fab fa-youtube text-2xl"></i>
               </a>
          </div>
     </div>
</div>
<app-review />
<app-footer />