<div *ngIf="showPopup" (click)="closePopup()"
     class="fixed inset-0 text-black p-5 flex flex-col justify-center items-center z-[999999]"
     [style.backgroundColor]="'rgba(0, 0, 0, 0.6)'"
     [ngClass]="{'animate-fadeIn': showPopup, 'animate-fadeOut': isClosing}">

     <div (click)="$event.stopPropagation()" class="relative w-full max-w-2xl bg-white p-12 rounded-lg shadow-lg"
          [ngClass]="{'animate-zoomIn': showPopup, 'animate-zoomOut': isClosing}" (animationend)="onAnimationEnd()">

          <button (click)="closePopup()"
               class="absolute top-2 right-4 text-3xl text-gray-400 hover:text-red-500 cursor-pointer">
               ✖
          </button>

          <h2 class="text-xl font-bold text-center mb-4 text-blue-600">
               📅 {{ this.UIResource.bookingInfo }}
          </h2>
          <p><strong>{{ this.UIResource.yardName }}:</strong> {{ bookingInfo.clubName }}</p>
          <p><strong>{{ this.UIResource.address }}:</strong> {{ bookingInfo.address }}</p>
          <p><strong>{{ this.UIResource.date }}:</strong> {{ formattedDate }}</p>
          @for(slot of bookingInfo.slots; track slot)
          {
          <div>
               <p>🕒 {{ slot.startTime }} - {{ slot.endTime}}| 💰 {{ slot.price.toLocaleString() }} đ</p>
          </div>
          }

          <p><strong>{{ this.UIResource.people }}:</strong> {{ bookingInfo.target }}</p>
          <p><strong>{{ this.UIResource.totalTime }}:</strong> {{ bookingInfo.totalHours }}h</p>
          <p><strong>{{ this.UIResource.totalPrice }}:</strong> {{ bookingInfo.totalPrice.toLocaleString() }} đ</p>

          <div class=" mt-4">
               <label class="block">{{ this.UIResource.myName }}</label>
               <input [(ngModel)]="user.name" type="text"
                    class="w-full p-2 rounded-lg text-black bg-white border border-gray-400 shadow-lg"
                    placeholder="Nhập tên của bạn">

               <label class="block mt-3">{{ this.UIResource.phoneNumber }}</label>
               <input [(ngModel)]="user.phone" type="text"
                    class="w-full p-2 rounded-lg text-black bg-white border border-gray-400 shadow-lg"
                    placeholder="Nhập số điện thoại">
          </div>

          <button (click)="confirmBooking()"
               class="w-full bg-blue-800 text-white py-2 mt-4 rounded-lg font-bold hover:bg-blue-700 cursor-pointer">
               {{ this.UIResource.confirm }}
          </button>
     </div>
</div>