<div class="text-center font-semibold text-2xl text-blue-500 mb-4 mt-2 text-shadow">
     Biểu đồ doanh thu
</div>

<div class="flex justify-between items-center mt-2 mb-3 sm:mb-6">
     <select class="border rounded px-3 py-1 text-sm text-gray-600">
          <option value="week">Theo Tuần</option>
          <option value="month">Theo Tháng</option>
          <option value="year">Theo Năm</option>
     </select>

     <div class="flex items-center gap-x-4">
          <div class="inline-flex items-center">
               <span class="size-2.5 inline-block bg-blue-600 rounded-sm me-2"></span>
               <span class="text-[13px] text-gray-600 dark:text-neutral-400">Income</span>
          </div>
          <div class="inline-flex items-center">
               <span class="size-2.5 inline-block bg-purple-600 rounded-sm me-2"></span>
               <span class="text-[13px] text-gray-600 dark:text-neutral-400">Outcome</span>
          </div>
     </div>
</div>

<div #chart class="mt-2"></div>