<div class="w-full grid grid-cols-4 gap-4 p-6">
     <div *ngFor="let tenant of tenants" class="bg-white rounded-2xl shadow-lg overflow-hidden">
          <img [src]="tenant.image" class="w-full h-64 object-cover">
          <div class="p-4 relative">
               <p class="text-gray-500 text-sm flex items-center gap-2 mt-2 absolute top-[-28px]">
                    <span class="bg-yellow-200 text-gray-700 px-4 py-2 rounded-md">{{ this.UIResource.duration }}</span>
               </p>
               <h2 class="text-lg font-semibold mt-2">{{ tenant.name }}</h2>
               <p class="text-gray-500 text-sm flex items-center gap-2 mt-1">
                    <span class="material-icons text-yellow-500">Hotline: </span>
                    {{ tenant.hotLine }}
               </p>
               <div class="flex items-center mt-2">
                    <span *ngFor="let star of [].constructor(5)" class="text-yellow-500">★</span>
               </div>
               <div class="flex justify-between items-center mt-4">
                    <div>
                         <p class="text-red-600 text-lg font-bold">{{ 60000 | currency:'VND' }} - {{ 150000 |
                              currency:'VND' }}</p>
                    </div>
                    <button (click)="handlerClickBook(tenant.code)" routerLink="/home"
                         class="bg-blue-500 text-white px-4 py-2 rounded-lg flex items-center gap-2 cursor-pointer">
                         BOOKING
                    </button>
               </div>
          </div>
     </div>
</div>