@import "tailwindcss";

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

/* Root variables */
:root {
  --main-bg-color: #fafafa;
  --main-text-color: black;
  --main-text-hover-color: #666666;
  --main-ctrl-background-color: #d2b48c;
  --main-ctrl-color: white;
  --base-green-bold-color: rgb(26, 152, 80);
  --base-green-very-bold-color: rgb(0, 104, 55);
  --base-green-hover-color: rgb(102, 189, 99);
  --base-red-bold-color: rgb(215, 48, 39);
  --base-red-hover-color: rgb(244, 109, 67);
}

/* Example usage */
body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.main-animation-button {
  transition: 0.3s ease;
}

button {
  cursor: pointer !important;
}
